<!doctype html>
<html class="no-js" lang="">

{% include 'common-head.html' %}

<body>
     {% include 'header.html' %}
     <section id="contactPagearea">
          <div class="container">
               <div class="row">
                    <div class="col-12">
                         <div class="content">
                              <div class="topContent">
                                   <h4>Don’t be a stranger</h4>
                                   <h5>just say hello.</h5>
                              </div>
                              <div class="middleInfo">
                                   <p>Feel free to get in touch with us. we are always open to discussing new projects,
                                        creative ideas or opportunities to be part of your visions.</p>
                              </div>
                              <div class="bottomInfo">
                                   <p>or Whatsapp your queries on</p>
                                   <a href="#">+91 88 77 88 23 23</a>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
     </section>

     <!-- new footer area -->
     {% include 'footer.html' %}

     <!-- all javascript load here -->
     {% include 'common_js.html' %}
</body>

</html>