<title>{{ content.title }}</title>
<meta name="description" content="{{ content.desc }}">
<meta property="og:type" content= "website" />
<meta property="og:url" content="{{ content.url }}"/>
<meta property="og:site_name" content="BAENEPHIT" />
<meta name="twitter:card" content="summary"/>
<meta name="twitter:domain" content="baenephit.com"/>
<meta name="twitter:title" property="og:title" itemprop="name" content="{{ content.title }}" />
<meta name="twitter:description" property="og:description" itemprop="description" content="{{ content.desc }}" />
<meta name="twitter:app:country" content="IN" />