<!doctype html>
<html class="no-js" lang="">

{% include 'common-head.html' %}

<body>
    {% include 'header.html' %}

     <section id="storePageWrapper">
          <div class="breadComeArea">
               <div class="container-fluid">
                    <div class="row">
                         <div class="col-12">
                              <div class="content">
                                   <ul>
                                        <li>
                                             <a href="/">Home</a>
                                        </li>
                                        <li><i class="fa-solid fa-chevron-right"></i></li>
                                        <li>All Stores</li>
                                   </ul>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
          <div class="storeMaainContent">
               <div class="container-fluid">
                    <div class="row">
                         <div class="col-xxl-3 col-xl-3 col-lg-3">
                              <div class="storeSidebar">
                                   <div class="topHeading">
                                        <h4>Store Categories</h4>
                                   </div>
                                   <div class="filterContnt">
                                        <div class="form-check">
                                             <input class="form-check-input" type="checkbox" value="" id="fashion">
                                             <label class="form-check-label" for="fashion">
                                                  Fashion
                                             </label>
                                        </div>
                                        <div class="form-check">
                                             <input class="form-check-input" type="checkbox" value="" id="food">
                                             <label class="form-check-label" for="food">
                                                  Food
                                             </label>
                                        </div>
                                        <div class="form-check">
                                             <input class="form-check-input" type="checkbox" value="" id="mobiles">
                                             <label class="form-check-label" for="mobiles">
                                                  Mobiles
                                             </label>
                                        </div>
                                        <div class="form-check">
                                             <input class="form-check-input" type="checkbox" value="" id="travel">
                                             <label class="form-check-label" for="travel">
                                                  Travel
                                             </label>
                                        </div>
                                        <div class="form-check">
                                             <input class="form-check-input" type="checkbox" value="" id="health">
                                             <label class="form-check-label" for="health">
                                                  Health
                                             </label>
                                        </div>
                                        <div class="form-check">
                                             <input class="form-check-input" type="checkbox" value="" id="dining">
                                             <label class="form-check-label" for="dining">
                                                  Dining
                                             </label>
                                        </div>
                                        <div class="form-check">
                                             <input class="form-check-input" type="checkbox" value="" id="tablets">
                                             <label class="form-check-label" for="tablets">
                                                  Tablets
                                             </label>
                                        </div>
                                        <div class="form-check">
                                             <input class="form-check-input" type="checkbox" value="" id="beauty">
                                             <label class="form-check-label" for="beauty">
                                                  Beauty
                                             </label>
                                        </div>
                                        <div class="form-check">
                                             <input class="form-check-input" type="checkbox" value="" id="electronic">
                                             <label class="form-check-label" for="electronic">
                                                  Electronics
                                             </label>
                                        </div>
                                        <div class="form-check">
                                             <input class="form-check-input" type="checkbox" value="" id="appliance">
                                             <label class="form-check-label" for="appliance">
                                                  Appliances
                                             </label>
                                        </div>
                                        <div class="form-check">
                                             <input class="form-check-input" type="checkbox" value="" id="education">
                                             <label class="form-check-label" for="education">
                                                  Education
                                             </label>
                                        </div>
                                        <div class="form-check">
                                             <input class="form-check-input" type="checkbox" value="" id="kitchen">
                                             <label class="form-check-label" for="kitchen">
                                                  Kitchen
                                             </label>
                                        </div>
                                        <div class="form-check">
                                             <input class="form-check-input" type="checkbox" value="" id="accessories">
                                             <label class="form-check-label" for="accessories">
                                                  Accessories
                                             </label>
                                        </div>
                                        <div class="form-check">
                                             <input class="form-check-input" type="checkbox" value="" id="hosting">
                                             <label class="form-check-label" for="hosting">
                                                  Hosting
                                             </label>
                                        </div>
                                        <div class="form-check">
                                             <input class="form-check-input" type="checkbox" value="" id="kids">
                                             <label class="form-check-label" for="kids">
                                                  Kids
                                             </label>
                                        </div>
                                        <div class="form-check">
                                             <input class="form-check-input" type="checkbox" value="" id="grocery">
                                             <label class="form-check-label" for="grocery">
                                                  Grocery
                                             </label>
                                        </div>
                                        <div class="form-check">
                                             <input class="form-check-input" type="checkbox" value="" id="home">
                                             <label class="form-check-label" for="home">
                                                  Home
                                             </label>
                                        </div>
                                        <div class="form-check">
                                             <input class="form-check-input" type="checkbox" value="" id="software">
                                             <label class="form-check-label" for="software">
                                                  Software
                                             </label>
                                        </div>
                                        <div class="form-check">
                                             <input class="form-check-input" type="checkbox" value="" id="gifting">
                                             <label class="form-check-label" for="gifting">
                                                  Gifting
                                             </label>
                                        </div>
                                        <div class="form-check">
                                             <input class="form-check-input" type="checkbox" value="" id="events">
                                             <label class="form-check-label" for="events">
                                                  Events
                                             </label>
                                        </div>
                                   </div>
                              </div>
                         </div>
                         <div class="col-xxl-9 col-xl-9 col-lg-9">
                              <div class="storeContent">
                                   <div class="topFilterArea">
                                        <div class="heading">
                                             <h4>All Stores</h4>
                                        </div>
                                        <div class="searchBox">
                                             <input type="text" class="form-control"
                                                  placeholder="Search store name here...">
                                        </div>
                                        <div class="latterFilter">
                                             <div class="singleItem">
                                                  <button type="button" class="active">All</button>
                                             </div>
                                             <div class="singleItem">
                                                  <button type="button">A</button>
                                             </div>
                                             <div class="singleItem">
                                                  <button type="button">B</button>
                                             </div>
                                             <div class="singleItem">
                                                  <button type="button">C</button>
                                             </div>
                                             <div class="singleItem">
                                                  <button type="button">D</button>
                                             </div>
                                             <div class="singleItem">
                                                  <button type="button">E</button>
                                             </div>
                                             <div class="singleItem">
                                                  <button type="button">F</button>
                                             </div>
                                             <div class="singleItem">
                                                  <button type="button">G</button>
                                             </div>
                                             <div class="singleItem">
                                                  <button type="button">H</button>
                                             </div>
                                             <div class="singleItem">
                                                  <button type="button">I</button>
                                             </div>
                                             <div class="singleItem">
                                                  <button type="button">J</button>
                                             </div>
                                             <div class="singleItem">
                                                  <button type="button">K</button>
                                             </div>
                                             <div class="singleItem">
                                                  <button type="button">L</button>
                                             </div>
                                             <div class="singleItem">
                                                  <button type="button">M</button>
                                             </div>
                                             <div class="singleItem">
                                                  <button type="button">N</button>
                                             </div>
                                             <div class="singleItem">
                                                  <button type="button">O</button>
                                             </div>
                                             <div class="singleItem">
                                                  <button type="button">P</button>
                                             </div>
                                             <div class="singleItem">
                                                  <button type="button">Q</button>
                                             </div>
                                             <div class="singleItem">
                                                  <button type="button">R</button>
                                             </div>
                                             <div class="singleItem">
                                                  <button type="button">S</button>
                                             </div>
                                             <div class="singleItem">
                                                  <button type="button">T</button>
                                             </div>
                                             <div class="singleItem">
                                                  <button type="button">U</button>
                                             </div>
                                             <div class="singleItem">
                                                  <button type="button">W</button>
                                             </div>
                                             <div class="singleItem">
                                                  <button type="button">X</button>
                                             </div>
                                             <div class="singleItem">
                                                  <button type="button">Y</button>
                                             </div>
                                             <div class="singleItem">
                                                  <button type="button">Z</button>
                                             </div>
                                        </div>
                                   </div>
                                   <div class="storePreviewBoxContent">
                                        <div class="row">
                                             <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-6">
                                                  <div class="singleItem">
                                                       <div class="cardStyle2">
                                                            <a href="/store-details">
                                                                 <div class="imageBox">
                                                                      <img class="img-fluid brandImage"
                                                                           src="{{ url_for('static',filename='img/brand/1.png') }}" alt="">
                                                                 </div>
                                                                 <div class="brandName">
                                                                      <h4>Brand name</h4>
                                                                 </div>
                                                                 <span>
                                                                      <img src="{{ url_for('static',filename='img/diamond-sm.png') }}" alt="">
                                                                      Upto 18.75% cash back
                                                                 </span>
                                                            </a>
                                                       </div>
                                                  </div>
                                             </div>
                                             <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-6">
                                                  <div class="singleItem">
                                                       <div class="cardStyle2">
                                                            <a href="/store-details">
                                                                 <div class="imageBox">
                                                                      <img class="img-fluid brandImage"
                                                                           src="{{ url_for('static',filename='img/brand/2.png') }}" alt="">
                                                                 </div>
                                                                 <div class="brandName">
                                                                      <h4>Brand name</h4>
                                                                 </div>
                                                                 <span>
                                                                      <img src="{{ url_for('static',filename='img/diamond-sm.png') }}" alt="">
                                                                      Upto 18.75% cash back
                                                                 </span>
                                                            </a>
                                                       </div>
                                                  </div>
                                             </div>
                                             <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-6">
                                                  <div class="singleItem">
                                                       <div class="cardStyle2">
                                                            <a href="/store-details">
                                                                 <div class="imageBox">
                                                                      <img class="img-fluid brandImage"
                                                                           src="{{ url_for('static',filename='img/brand/3.png') }}" alt="">
                                                                 </div>
                                                                 <div class="brandName">
                                                                      <h4>Brand name</h4>
                                                                 </div>
                                                                 <span>
                                                                      <img src="{{ url_for('static',filename='img/diamond-sm.png') }}" alt="">
                                                                      Upto 18.75% cash back
                                                                 </span>
                                                            </a>
                                                       </div>
                                                  </div>
                                             </div>
                                             <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-6">
                                                  <div class="singleItem">
                                                       <div class="cardStyle2">
                                                            <a href="/store-details">
                                                                 <div class="imageBox">
                                                                      <img class="img-fluid brandImage"
                                                                           src="{{ url_for('static',filename='img/brand/4.png') }}" alt="">
                                                                 </div>
                                                                 <div class="brandName">
                                                                      <h4>Brand name</h4>
                                                                 </div>
                                                                 <span>
                                                                      <img src="{{ url_for('static',filename='img/diamond-sm.png') }}" alt="">
                                                                      Upto 18.75% cash back
                                                                 </span>
                                                            </a>
                                                       </div>
                                                  </div>
                                             </div>
                                             <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-6">
                                                  <div class="singleItem">
                                                       <div class="cardStyle2">
                                                            <a href="/store-details">
                                                                 <div class="imageBox">
                                                                      <img class="img-fluid brandImage"
                                                                           src="{{ url_for('static',filename='img/brand/5.png') }}" alt="">
                                                                 </div>
                                                                 <div class="brandName">
                                                                      <h4>Brand name</h4>
                                                                 </div>
                                                                 <span>
                                                                      <img src="{{ url_for('static',filename='img/diamond-sm.png') }}" alt="">
                                                                      Upto 18.75% cash back
                                                                 </span>
                                                            </a>
                                                       </div>
                                                  </div>
                                             </div>
                                             <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-6">
                                                  <div class="singleItem">
                                                       <div class="cardStyle2">
                                                            <a href="/store-details">
                                                                 <div class="imageBox">
                                                                      <img class="img-fluid brandImage"
                                                                           src="{{ url_for('static',filename='img/brand/6.png') }}" alt="">
                                                                 </div>
                                                                 <div class="brandName">
                                                                      <h4>Brand name</h4>
                                                                 </div>
                                                                 <span>
                                                                      <img src="{{ url_for('static',filename='img/diamond-sm.png') }}" alt="">
                                                                      Upto 18.75% cash back
                                                                 </span>
                                                            </a>
                                                       </div>
                                                  </div>
                                             </div>
                                             <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-6">
                                                  <div class="singleItem">
                                                       <div class="cardStyle2">
                                                            <a href="/store-details">
                                                                 <div class="imageBox">
                                                                      <img class="img-fluid brandImage"
                                                                           src="{{ url_for('static',filename='img/brand/7.png') }}" alt="">
                                                                 </div>
                                                                 <div class="brandName">
                                                                      <h4>Brand name</h4>
                                                                 </div>
                                                                 <span>
                                                                      <img src="{{ url_for('static',filename='img/diamond-sm.png') }}" alt="">
                                                                      Upto 18.75% cash back
                                                                 </span>
                                                            </a>
                                                       </div>
                                                  </div>
                                             </div>
                                             <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-6">
                                                  <div class="singleItem">
                                                       <div class="cardStyle2">
                                                            <a href="/store-details">
                                                                 <div class="imageBox">
                                                                      <img class="img-fluid brandImage"
                                                                           src="{{ url_for('static',filename='img/brand/8.png') }}" alt="">
                                                                 </div>
                                                                 <div class="brandName">
                                                                      <h4>Brand name</h4>
                                                                 </div>
                                                                 <span>
                                                                      <img src="{{ url_for('static',filename='img/diamond-sm.png') }}" alt="">
                                                                      Upto 18.75% cash back
                                                                 </span>
                                                            </a>
                                                       </div>
                                                  </div>
                                             </div>
                                             <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-6">
                                                  <div class="singleItem">
                                                       <div class="cardStyle2">
                                                            <a href="/store-details">
                                                                 <div class="imageBox">
                                                                      <img class="img-fluid brandImage"
                                                                           src="{{ url_for('static',filename='img/brand/9.png') }}" alt="">
                                                                 </div>
                                                                 <div class="brandName">
                                                                      <h4>Brand name</h4>
                                                                 </div>
                                                                 <span>
                                                                      <img src="{{ url_for('static',filename='img/diamond-sm.png') }}" alt="">
                                                                      Upto 18.75% cash back
                                                                 </span>
                                                            </a>
                                                       </div>
                                                  </div>
                                             </div>
                                             <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-6">
                                                  <div class="singleItem">
                                                       <div class="cardStyle2">
                                                            <a href="/store-details">
                                                                 <div class="imageBox">
                                                                      <img class="img-fluid brandImage"
                                                                           src="{{ url_for('static',filename='img/brand/10.png') }}" alt="">
                                                                 </div>
                                                                 <div class="brandName">
                                                                      <h4>Brand name</h4>
                                                                 </div>
                                                                 <span>
                                                                      <img src="{{ url_for('static',filename='img/diamond-sm.png') }}" alt="">
                                                                      Upto 18.75% cash back
                                                                 </span>
                                                            </a>
                                                       </div>
                                                  </div>
                                             </div>
                                             <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-6">
                                                  <div class="singleItem">
                                                       <div class="cardStyle2">
                                                            <a href="/store-details">
                                                                 <div class="imageBox">
                                                                      <img class="img-fluid brandImage"
                                                                           src="{{ url_for('static',filename='img/brand/11.png') }}" alt="">
                                                                 </div>
                                                                 <div class="brandName">
                                                                      <h4>Brand name</h4>
                                                                 </div>
                                                                 <span>
                                                                      <img src="{{ url_for('static',filename='img/diamond-sm.png') }}" alt="">
                                                                      Upto 18.75% cash back
                                                                 </span>
                                                            </a>
                                                       </div>
                                                  </div>
                                             </div>
                                             <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-6">
                                                  <div class="singleItem">
                                                       <div class="cardStyle2">
                                                            <a href="/store-details">
                                                                 <div class="imageBox">
                                                                      <img class="img-fluid brandImage"
                                                                           src="{{ url_for('static',filename='img/brand/12.png') }}" alt="">
                                                                 </div>
                                                                 <div class="brandName">
                                                                      <h4>Brand name</h4>
                                                                 </div>
                                                                 <span>
                                                                      <img src="{{ url_for('static',filename='img/diamond-sm.png') }}" alt="">
                                                                      Upto 18.75% cash back
                                                                 </span>
                                                            </a>
                                                       </div>
                                                  </div>
                                             </div>
                                        </div>
                                        <div class="bottomInfoContent">
                                             <p>Worrying too much about savings? Well, Now you Don't Need to because
                                                  Baenephit has got your Cashback. Search and shop from 100+ popular
                                                  online
                                                  stores and trending brands on your favourite products. Shop More and
                                                  Spend Less on categories ranging from Food, Medicines, Fashion to
                                                  Electronics, Daily Essentials, and much more. Activate and Redeem
                                                  Cashback and transfer them directly into Wallets or Your Bank Accounts
                                                  when you shop through our Website. To Not to Miss any chance of Extra
                                                  Savings, stay updated on our page for the latest Cashback Offers . Now
                                                  Buy with Pride only on Baenephit.</p>
                                        </div>
                                   </div>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
     </section>

     <!-- new footer area -->
     {% include 'footer.html' %}
     <!-- all javascript load here -->
     {% include 'common_js.html' %}
</body>

</html>