<!doctype html>
<html class="no-js" lang="">

{% include 'common-head.html' %}

<body>
     {% include 'header.html' %}
     <!-- all task page wrapper -->
     <section id="taskPageWrapper" class="detailsPage">
          <div class="container">
               <div class="allTaskWrapper detailsTask">
                    <div class="singleTaskWrapper">
                         <div class="taskDetailsBox">
                              <div class="row">
                                   <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                                        <div class="taskImageBox">
                                             <img src="{{ url_for('static',filename='img/task/1.jpg') }}" class="img-fluid" alt="">
                                        </div>
                                   </div>
                                   <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-12">
                                        <div class="taskDetailsContent">
                                             <div class="topInfo">
                                                  <h4>Play Qureka Quiz game and Earn 15 Hyyzo Diamonds</h4>
                                                  <ul>
                                                       <li>
                                                            Start Date :
                                                            <span class="text-success">Aug 15th, 2023</span>
                                                       </li>
                                                       <li>
                                                            End Date :
                                                            <span class="text-danger">Sep 15th, 2023</span>
                                                       </li>
                                                       <li>
                                                            Estimated Payment Date :
                                                            <span>Oct 15th, 2023</span>
                                                       </li>
                                                  </ul>
                                                  <h3>Enjoy your leisure and earn 17 Hyyzo Diamonds by playing the
                                                       Qureka Quiz game! Check more details in T&Cs.</h3>
                                                  <a href="#" class="btn btn-primary">Complete Task</a>
                                             </div>
                                             <div class="bottomInfo">
                                                  <p>Qureka is a trivia game that brings informative quizzes for you to
                                                       make your leisure interesting. Learn about various events in a
                                                       fun-loving way and also increase your knowledge about everyday
                                                       things and games. Take a relaxing break from your every day work
                                                       while also learning something new.</p>
                                                  <p>Get 15 Hyyzo Diamonds just for playing an amazing game on your
                                                       mobile!</p>
                                                  <p>Enjoy your leisure and earn 15 Hyyzo Diamonds by playing the Qureka
                                                       Quiz game! Download and play the game to learn and also earn 15
                                                       Diamonds in no time. Check more details in T&Cs.</p>
                                                  <h4>How to complete the task:</h4>
                                                  <ul>
                                                       <li>Login/Signup on Hyyzo.</li>
                                                       <li>Go to the task page and view the selected task.</li>
                                                       <li>Click on "Complete Task"</li>
                                                       <li>It will redirect you to the Qureka Quiz page on the Play
                                                            store.</li>
                                                       <li>Install the app and play the game. </li>
                                                       <li>Your cashback will be credited on confirmation.</li>
                                                  </ul>
                                                  <h4>Terms & Conditions:</h4>
                                                  <ul>
                                                       <li>It is valid only in selected locations in India.</li>
                                                       <li>Cashback will only be credited if you follow the above
                                                            mentioned steps.</li>
                                                       <li>No Bot or fraud activity must be performed while playing the
                                                            game to receive cashback</li>
                                                  </ul>
                                             </div>
                                        </div>
                                   </div>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
     </section>
     <!-- all task page wrapper -->

     <!-- new footer area -->
     {% include 'footer.html' %}

     <!-- all javascript load here -->
     {% include 'common_js.html' %}
</body>

</html>